/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Contenedor del login */
  .login-container {
    width: 95%;
    max-width: 400px;
    margin: 15px auto;
    background: #f7f7f7;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #login-form input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
  }
  
  #login-form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #2575fc;
    color: white;
    cursor: pointer;
  }
  
  #login-form button:hover {
    background-color: #1d64e3;
  }
  
  #mensaje {
    text-align: center;
    color: red;
    margin-top: 10px;
  }
  