body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px; /* Limita el tamaño máximo en pantallas grandes */
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #2c3e50;
  font-size: 2rem;
  margin-bottom: 20px;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
  color: #555;
}

select {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Permite que el selector ocupe todo el ancho disponible */
  max-width: 300px; /* Limita el ancho del select en pantallas grandes */
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Hace que el botón ocupe todo el ancho disponible en móviles */
  max-width: 300px; /* Limita el ancho en pantallas grandes */
}

button:disabled {
  background-color: #7f8c8d;
}

button:hover {
  background-color: #2980b9;
}

#tiempo-entrenamiento {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #2c3e50;
}

#tiempo-total {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #7f8c8d;
}

#entrenamientos {
  margin-top: 20px;
  text-align: left;
  padding: 0 20px; /* Añade espacio lateral */
}

.entrenamiento {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entrenamiento h3 {
  font-size: 1.5rem;
  color: #3498db;
  margin-bottom: 10px;
}

.checkbox {
  margin-top: 10px;
}

.checkbox input {
  margin-right: 10px;
}

/* Responsividad */
@media (max-width: 768px) {
  .container {
      width: 95%;
      margin: 0 10px;
  }

  h1 {
      font-size: 1.8rem;
  }

  select, button {
      font-size: 1rem;
      width: 100%;
  }

  #tiempo-entrenamiento, #tiempo-total {
      font-size: 1rem;
  }

  .entrenamiento h3 {
      font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.5rem;
  }

  .entrenamiento h3 {
      font-size: 1rem;
  }

  select, button {
      font-size: 1rem;
      padding: 10px;
  }
}
